@import "dependencies";
@import "project-variables";
//todo: fix this
@import "objects/objects";
@import "modules/core/module";
@import "modules/colors/module";
@import "modules/typography/module";
@import "modules/responsive/module";
@import "modules/rhythm-spacing/module";
@import "modules/components/module";
@import "modules/generator/module";
@import "modules/unit-test/module";
//typekit
@import url('https://use.typekit.net/kxg6qeb.css');
$generate-map: (
	scheme-classes: false,
	swatch-classes: false,
	type-classes:false,
	rhythm-spacing:false,
	utility-static:false,
	components:false
);
@include init-color-module;
$example-functional-render-queue: (
	description: "INVERT FUNCTIONAL COLOR ",
	selector: '.-#{&}',
	parent: color-schemes,
	suffix:true
);


$example-component-render2:
	(
		description: "color schemes",
		selector: false,
		parent: color-schemes,
		variant-key: light dark,
		suffix:true,
		variants:(
			options: (
				obj: (
					background: true,
					foreground: true,
					accent:true,
					border: lighten foreground 10%,
					fill:foreground,
					hover-background:true,
					hover-foreground:true
				)
			)

		)

	);




$example-component-render: (
	(
		description: "color schemes",
		selector:false,
		parent: color-schemes,
		suffix:true,
		variants:(
			options: (
				obj: (
					background: true,
					foreground: true,
					accent:true,
					border: lighten foreground 10%,
					fill:foreground,
					hover-background:true,
					hover-foreground:true
				)
			)

		)

	),
	(
		description: "font size",
		selector: false,
		parent: font-size,
		variant-key: xl,
		suffix:false,
	)
);


/*********RENDER OBJECT FOR BASE COLOR SCHEMES + SWATCHES***********/
$color-module-render-queue: (
	(
		description: "color swatches",
		selector: '.color-swatches',
		parent: color-swatches
	),
	(
		description: "color schemes",
		selector: '.color-schemes-gilliN',
		parent: color-schemes,
		variants:(
			options: (
				obj: (
					background: true,
					foreground: true,
					accent:false,
					border: lighten foreground 10%,
					fill:foreground,
					hover-background:true,
					hover-foreground:true
				)
			)
		)
	)
);

$no-selectors:(
selector: false,
	suffix:false,
);

$no-selectors-test-obj:(
	selector: true,
		suffix:true,
);

///ADD COLORS
//add something to dictionary
$patternlab: batch-add-to-style-dictionary( $base-render-color-objs);

///ADD SIZING VALUES
$patternlab: batch-add-to-style-dictionary( $base-render-objects);

///multilevel "inheritance"
$patternlab: batch-add-to-style-dictionary(clean-collection(get-collection($secondary-objects),parent));

$patternlab: batch-add-to-style-dictionary(clean-collection(get-collection($generator-render-objects),parent));

$test: init-typography-module();

/*****************************************/
/*********EXAMPLE GENERTE QUEUE***********/

$GENERATE-QUEUE: false;

@if ( $GENERATE-QUEUE ) {

	/***------COLOR SCHEMES and SWATCHES-----****/
	@include render-queue(get-collection(generator-color-schemes generator-color-swatches));

	/***------TYPEOGRAPHY-----****/
	@include render-queue(get-collection(generator-typography));

	/***------FONT SIZES-----****/
	@include render-queue(get-collection(generator-font-size));

	/***-----PADDING-----****/
	@include render-queue(get-collection(generator-padding));

	/***-----MARGIN-----****/
	@debug get-collection(generator-margin);

	@include render-queue(get-collection(generator-margin));

	.example{
		//TODO: BUG WITH OUTPUT of 2 items with the same unit overwriten.
		/*********EXAMPLE COMPONENT***********/
		$new-list: get-collection( (base-spacing, color-schemes, font-size),$no-selectors);
		$new-list: overwrite-collections( $new-list, (sm, dark, sm ), variant-key );
		@include render-queue($new-list);
	}
	.example-button{
		@include render-queue(get-collection($example-component-render));
	}
}

%button-static{
	border-radius: 20px;

}

$the-placeholder: button-static;



.testing{
//	@include render-queue(get-collection($example-component-render2));
//	@include render-queue(get-collection(base-padding base-margin $example-functional-render-queue, md lg false));

	//@extend %#{$the-placeholder};
}
////NOTE:   NOBJECTS WITH NO_SELECTOR AND NO VARIANT KEY WILL ERROR.

@debug get-collection(base-margin);

//$test-collection: get-collection($color-module-render-queue ,gillian-swatches gillian-colorz, selector);

//@debug $style-dictionary;
@include block(gbt, utility) {
	//@include render-queue(font-size, sm);
}

//@include _base-component($example-component-render, potter-button,true);


@include c-button(button);


@include block(divider,component){

	@each $key in $scheme-list {
		@include modifier($key){
			@include c-divider($key);
		}
	}
	background: red;

}
//OLD WAY

@include block(icon,component){

	@each $key in $scheme-list {
		@include modifier($key){
			@include c-divider($key);

			$props: (
				background: true,
				foreground: true,
				border: true,
				fill:foreground
			);
			@include g-color-scheme($key, $props...){
				@include u-icon-svg(false,1em);
			}

			.--reflect{
				@include u-reflect-X();
			}
			&.--no-border {
				border: none;
			}
		}
	}
	//background: red;

}@debug "jhsssh";

gillianexample{@include set-type();
}

//c-button
