/* EXAMPLE USAGE! */
[class*=featured-product] {
  outline: 2px solid red; }
  [class*=featured-product]:before {
    content: attr(class);
    background: white;
    height: 40px;
    width: 40px;
    color: red; }

/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
/*
Settings

'absolute center fixed': false (fixed position item)
'absolute center extend': false
'absolute center vertical midpoint': 50%
'absolute center fixed horizontal': 0%
'absolute center fixed horizontal midpoint': 50% (horizontal midpoint for fixed position item)
*/
/*
exAMPLE usage:

@include pl-colorscheme(dark-accent-secondary,(
    background: true,
    foreground: true,
    accent:true,
    border: true,
    fill:true
) )*/
TEST {
  font-size: 23.04px; }

.example {
  /*********EXAMPLE COMPON
	ENT*************/ }
  .example gilliantest--xxs {
    font-size: 11.11111px; }
  .example gilliantest--xs {
    font-size: 13.33333px; }
  .example gilliantest--sm {
    font-size: 13.33333px; }
  .example gilliantest--base {
    font-size: 16px; }
  .example gilliantest--md {
    font-size: 19.2px; }
  .example gilliantest--lg {
    font-size: 23.04px; }
  .example gilliantest--3 {
    font-size: 27.648px; }
  .example gilliantest--4 {
    font-size: 33.1776px; }
  .example gilliantest--5 {
    font-size: 39.81312px; }
  .example gilliantest--6 {
    font-size: 47.77574px; }
  .example gilliantest--headline {
    font-size: 68.79707px; }
  .example gilliantest--xl {
    font-size: 33.1776px; }
  .example gilliantest--xxl {
    font-size: 57.33089px; }
  .example gilliantest--xxxl {
    font-size: 39.81312px; }
  .example gilliantypetest {
    font-family: monospace;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4; }
  .example gilliantypetest {
    font-family: "Helvetica, Arial, Sans-Serif";
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4; }
  .example gilliantypetest {
    font-family: "Times New Roman";
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4; }
  .example gilliantypetest {
    font-family: "Times New Roman";
    text-transform: none;
    text-decoration: none;
    font-style: italic;
    font-weight: normal;
    line-height: 1.4; }
  .example gilliantypetest {
    font-family: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit; }

@media (min-width: 601px) {
  font-size: 23.04px; }
