/// COLOR SCHEME DEFAULTS - MAPPING (dont need to edit)
//****** these variables dont really change****//
$default-accent-selector: 'h1, h2, h3, h4, h5, h6,a ' !default;
$default-svg-selector: 'path, rect, g,circle' !default;
$default-svg-hover-selector: 'path:hover, g:hover' !default;

////this is a reference to the css property to be writen.
$property-lookup-map: (
    foreground: color,
    background: background-color,
    accent: color,
    border: border-color,
    link: color,
    fill: fill,
    hover-background: background-color,
    hover-foreground: color,
    hover-fill: fill
);

$fallback-lookup-map: (
    border: foreground,
    fill:foreground,
    hover-background: background,
    hover-foreground: foreground,
    hover-fill: foreground
);
//this is used by the inverted transform
$inverted-key-lookup-map: (
    foreground: background,
    background: foreground,
    accent: accent,
    border: background,
    link: accent,
    fill: background
);