//@import "abstraction-object-placeholders";
@import "wrappers";
///ABSTRATION OBJECTS.

//********CONTAINERS///
@mixin u-full-width-container($height: 100%, $min-height: $height) {

    width: 100vw;
    height: $height;
    min-height: $min-height;
}

@mixin u-make-container($percent: $content-boxed-indent) {
    max-width: $content-max-width;
    margin: 0 auto;
    width: $percent;
}

@mixin u-default-container() {
    @include u-make-container($content-boxed-width);

    @include breakpoint-range(sm, "<=") {
        @include u-make-container($content-boxed-width-mobile);
    }
}



//********VISUAL OBJECTS ///
@mixin u-icon-svg($color:red,$width: 100%,$height:$width) {
    width: $width;
    height: $height;
    display: inline-block;

    svg {
        display: block;
        width: 100%;
        height: 100%;

        $props: (
            background: false,
            foreground:false,
            fill: $color
        );
     //   @debug $props;
        @if ($color!=false){
            @include g-color-scheme($props...);
        }
    }
}


@mixin o-icon-svg($color:red, $scale-unit: $default-scale-unit) {

   @include dry('icon-inline-svg-#{$scale-unit}'){
       @include u-icon-svg(false, ms(get-scale-units($scale-unit)));
   }
}
