%container-vlist-natural-children-width{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
%container-vlist-100-children-width{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@mixin u-horizontal-list( $margin:rhythm(.5) ,$justify-content: space-between) {
    display: flex;
    justify-content: $justify-content;

    > * {
        margin-right: $margin;

        &:last-child {
            margin-right: 0;
        }
    }
}



//TODO: move these.
.o-container-vlist-natural-children-width{
    @extend %container-vlist-natural-children-width;
}
.o-container-vlist-100-children-width{
    @extend %container-vlist-100-children-width;
}
.o-container-hlist{
    @include u-horizontal-list();
}