.u-trailing-border, .u-underline {
    @include trailing-border();
}
.u-left-border {
    @include apply-side-rhythm-border(left);
}
.u-right-border {
    @include apply-side-rhythm-border(right);
}
//rhthm float left
.u-float-left{
    @include u-float-rhythm(left);
}
//rhthm float right
.u-float-right{
    @include u-float-rhythm(right);
}
.u-rhythm-padding{
    padding: rhythm(2) rhythm(2);
}
.u-rhythm-margin{
    margin: rhythm(2) rhythm(2);
    //TODO: FIX THIS
}
.u-leader{
    @include leader(1);
}
.u-leader-2{
    @include leader(2);
}
.u-trailer{
    @include trailer(1);
}
.u-trailer2{
    @include trailer(2);
}