//mixins to geenrate each of the utility classes

@mixin generate-swatches($prefix: '.swatch-color-', $colors: $baseColors) {
    @each $key, $color in $colors {
        #{ $prefix }#{ $key} {
            @include u-background-contrast-text($color)
        }
    }
}

$type-size-list: -1, 0,1, 2,3,4,5!default;

@mixin generate-type-utility-classes( $key: font-san-serif, $prefix: '.g-type') {
    @for $i from 1 through length($type-size-list) {
        $size: nth($type-size-list, $i);

        #{ $prefix }-#{ $key }-#{ $size } {
            @include setType($size,$key);
        }

        @if ($size == 0 ){
        #{ $prefix }-#{ $key } {
            @include setType($size,$key);
        }
    }
    }
}

@mixin generate-all-scheme-utility-classes( $prefix: '.g-scheme') {
    @for $i from 1 through length($schemes) {
        $scheme: nth($schemes, $i);
        $key: map-get($scheme, key);
        #{ $prefix }-#{ $key } {
            @include color-scheme($key);
        }
    }
}