$active-scheme : functional!default;

$default-color-scheme-key: color-schemes !default;
$default-color-scheme-variant: $chroma-active-scheme!default;

// Color scheme / theme module
//
// dependancies             - chroma sass

$baseColors:(
    white:       #fff,
    black:       #000,
    tester: #cc6329,
    blue:        #0e71b8,
    test-color:   tester,
    light-blue: lighten(#0e71b8,20%),
    red:         #c00,


    // Define a primary highlight color that has the value of our "blue" color.
    // Note: if blue was specified without quotes, Chroma would interpret that as
    // the color keyword blue and not a reference to the "blue" color name.
    primary:     'blue',
)!default;

$schemes: (

    functional: (
        key: functional,
        description: 'Colors used by functional parts of the design.',
        parent: false,
        colors:(
            foreground: blue,
            background: white,
            accent: test-color,
            border: blue,
            link: test-color
        )
    ),
    invert-functional: (
        key: invert-functional,
        description: 'Inverted Colors used by functional parts of the design.',
        parent: 'functional',
        transform:(
            foreground: background,
            background: foreground
        ),
        colors:(
            background: test-color,
            new-linl: test-color

        )
    )
)!default;

/// COLOR SCHEME DEFAULTS - MAPPING (dont need to edit)

$default-accent-selector: 'h1, h2, h3, h4, h5, h6,a ' !default;
$default-svg-selector: 'path, rect, g,circle' !default;
$default-svg-hover-selector: 'path:hover, g:hover' !default;

////this is a reference to the css property to be writen.
$property-lookup-map: (
    foreground: color,
    background: background-color,
    accent: color,
    border: border-color,
    link: color,
    fill: fill,
    hover-background: background-color,
    hover-foreground: color,
    hover-fill: fill
);

$fallback-lookup-map: (
    border: foreground,
    fill:foreground,
    hover-background: background,
    hover-foreground: foreground,
    hover-fill: foreground
);
//this is used by the inverted transform
$inverted-key-lookup-map: (
    foreground: background,
    background: foreground,
    accent: accent,
    border: background,
    link: accent,
    fill: background
);