@mixin e-icon($color-scheme: $chroma-active-scheme, $key:"svg-dragon", $file: "" ){

}


@mixin c-heading() {

    @include color-scheme($color-scheme, false, false, false);
    transition: all 0.2s;
    cursor: hand;
    width: auto;

    @content;

    &:hover {
        background: lighten(color($color-scheme, background), 10%);
    }
    &__link {
        color: inherit;
        text-decoration: none;
    }
}