///has to be like this till dynamic mixins are allowed
@mixin init-generator($-generate-map:$patternlab-render-objects) {
    $patternlab: batch-add-to-style-dictionary(clean-collection(get-collection($-generate-map), parent));
    $generate-collection-list: ();
    @each $value in $-generate-map {
        $generate-collection-list: _push($generate-collection-list, map-get($value, key))
    }

    @include render-queue(get-collection($generate-collection-list));
}