//*** THESE ARE THE CORE COLOR FUNCTIONS BUILT TO WORK WITH OR WITHOUT CHROMA SASS
//*** Dependancies: Chroma Sass, Bem constructor

//*** swatch, colorscheme requires color module
//*** utility padding requires type module


@import "functions";
@import "variables";
@import "mixins";

@if ($GENERATE-QUEUE) {

	/***------COLOR SCHEMES and SWATCHES-----****/
	@include render-queue(get-collection(generator-color-schemes generator-color-swatches));

	/***------TYPEOGRAPHY-----****/
	@include render-queue(get-collection(generator-typography));

	/***------FONT SIZES-----****/
	@include render-queue(get-collection(generator-font-size));

	/***-----PADDING-----****/
	@include render-queue(get-collection(generator-padding));

	/***-----MARGIN-----****/
	@include render-queue(get-collection(generator-margin));

	.example {
		//TODO: BUG WITH OUTPUT of 2 items with the same unit overwriten.
		/*********EXAMPLE COMPONENT***********/
		$new-list: get-collection((base-spacing, color-schemes, font-size), $no-selectors);
		$new-list: overwrite-collections($new-list, (sm, dark, sm), variant-key);
		@include render-queue($new-list);
	}
	.example-button {
		@include render-queue(get-collection($example-component-render));
	}
}


/*
//various debug modes.
@if ($GENERATOR_ON == force){
    $generate-map:set-generate-map(true);
}@else if ($GENERATOR_ON == false){
    $generate-map:set-generate-map(false);
}@else if else($generate-map==true){

}
*/
