//*** GENERATOR DEFAULTS
//*** Dependancies: Chroma Sass

$GENERATOR_ON: true!default;
$utility-seperator: '-' !default;

$utility-prefixes: (
    swatch: "swatch-color",
    scheme: "scheme",
    spacing: "spacing",
    type: "type") !default;


//TODO :: get rid of theses
//this is for the padding utility
$default-scale-unit: sm !default;

$scale-lookup-units: (
    xxs: -2,
    xs: -1,
    sm: 0,
    md: 1,
    lg: 2,
    xl: 3,
    xxl: 4,
    xxxl: 5
) !default;

$generate-map: (
    scheme-classes: false,
    swatch-classes: false,
    type-classes:false,
    rhythm-spacing:false,
    utility-static:false,
    components:false
)!default;

