$component-id-lookup: (
    button: 'Button',
    card: 'Card',
    kabob: 'Kabob',
    divider: 'Divider'
);

@function get-component-id($key) {
    @return map-get($component-id-lookup, $key);
}

@mixin g-generate-scale-sizes-dry($scale-map: $scale-units) {
    @each $key, $unit in $scale-map {
        @debug 'scale-sizes-#{$key}';

        @include dry('scale-sizes-#{$key}', $DRY_ENABLED) {
            @include set-multiple(rhythm($unit), width height);
        }
    }
}

@mixin g-generate-scale-sizes($selector : false, $scale-map: $scale-units) {
    @each $key, $unit in $scale-map {
        @if ($selector) {
            &.--#{$key} #{$selector} {
                @include set-multiple(ms($unit), width height);
            }
        } @else {
            &.--#{$key} {
                @include set-multiple($unit, width height);

            }
        }
    }
}

@mixin g-generate-component($component-key) {

    @include block(get-component-id($component-key), component) {

        @if ($component-key == button) {
            @include c-button();
        } @else if ($component-key== card) {
            @include c-card();
        } @else if ($component-key== kabob) {
            @include c-kabob();
        } @else if ($component-key== divider) {
            @include c-divider();
        }
        @each $key, $name in $THEME_RENDER_KEYS {
            @include modifier($key) {
                //  @include c-button($component-name, $key);
                @if ($component-key == button) {
                    @include c-button($key);
                } @else if ($component-key== card) {
                    @include c-card($key);
                } @else if ($component-key== kabob) {
                    @include c-kabob($key);
                } @else if ($component-key== divider) {
                    @include c-divider($key);
                }
            }
        }
    }
}

@mixin g-generate-all-components($component-ids:$component-id-lookup) {
    @each $key, $name in $component-ids {
        @include g-generate-component($key);
    }
}
