//built on top of modular scale, compass vertical rhythm.
//*** THESE ARE THE CORE BREAKPOINT WRAPPER
//*** Dependencies: Modular Scale  | Compass Vertical Rhythm. | Sass DRY | Sass Toolkit

@mixin set-type($size-unit: 0,$font: font-san-serif, $lines-unit:false ) {
    //TODO : fix
    $required-font-props: (font-family, letter-spacing, word-spacing, text-transform, text-decoration, font-style, font-weight);
    $font-map: setting($font); //this is the only real place setting is used

    @if ($lines-unit == false) {
        @include dry(#{$font}-#{$size-unit}, $DRY_ENABLED) {
            @include adjust-font-size-to(ms($size-unit));
        }
    } @else {
        @include adjust-font-size-to(ms($size-unit), $lines-unit);
    }

    @include dry($font, $DRY_ENABLED) {
        @for $i from 1 through length($required-font-props) {
            #{nth($required-font-props, $i)}: map-get($font-map, nth($required-font-props, $i));
        }
    }
}

@mixin resetType( ) {
    //TODO : fix
    $required-font-props: (font-family, letter-spacing, word-spacing, text-transform, text-decoration, font-style, font-weight);
    // $font-map: setting($font); //this is the only real place setting is used
    @for $i from 1 through length($required-font-props) {
        #{nth($required-font-props, $i)}: inherit;
    }
}