$component-name: 'Button-Group';

//TODO: this is my first wrapper component -- figure out what to do....
///MAIN BLOCK CSS

@mixin c-button-group($color-scheme: $chroma-active-scheme ) {

    display: flex;
    flex-direction: row;

    .g-Button {
        @include c-button($color-scheme);
        $inactive-color: desaturate(color($color-scheme, background), 90%);
        @if (chroma-has-color(inactive, $color-scheme)) {
            $inactive-color: color($color-scheme, inactive);
        } @else {
        }


        background: $inactive-color;

        border-right: 0px solid red;
        &.--is-active {
            background: color($color-scheme, background);
        }
        &:last-child {
            border-right: 1px solid color($color-scheme, border);
        }
    }
}

@include block($component-name, component) {
    @include c-button-group(tabs);

    @if ($generate-components) {
        ///@debug 'gillian';

        @each $key, $name in $THEME_RENDER_KEYS {
          //  @include c-button-group($key);

        }
    }
}

