$component-name: 'Button';

@mixin c-button($id:$component-name, $color-scheme: $chroma-active-scheme ) {

    $self: &;

    ///******** INCLUDE THEME (COLOR!) PROPERTIES HERE.
    @include u-component-theme($id, $color-scheme){
        @include color-scheme($color-scheme, true, false);

        &:hover {
            background: lighten(color($color-scheme, background), 8%);
        }

        svg * {
            fill: color($color-scheme, foreground);
        }
    }
    @include u-component-properties($id){

        #{$self}__link, a {
            text-decoration: none;
        }

        transition: all 0.2s;
        cursor: hand;
        width: auto;

        #{$self}__icon {
            width: 20px;
        }

        #{$self}__left {

            .-includeIcon.-iconRight #{$self} {
                margin-left: rhythm(1);
            }
            .-includeIcon.-iconLeft #{$self} {
                margin-right: rhythm(1);
            }

        }

        &__inner {

            .-includeIcon & {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: auto;
                background:sienna;
            }
            .-includeIcon.-iconRight #{$self} {

                flex-direction: row-reverse;
                justify-content: flex-end;
            }
        }

        #{$self}.-includeIcon {

            #{$self}__inner {

            }
        }
    }
}

///********* ACTUAL CSS to generate.
///MAIN BLOCK CSS
@include block($component-name, component) {

    @if ($generate-components) {

        @include c-button($component-name);

        @each $key, $name in $THEME_RENDER_KEYS {

            @include modifier($key) {
                @include c-button($component-name, $key);
            }
        }
    }
}