$component-name: 'Content_box';

//TODO: Break these up

@mixin c-content-box($color-scheme: $chroma-active-scheme, $width: 35%,$border:true,$accent:false) {

    @include color-scheme($color-scheme, $border, $accent);
    padding: rhythm(1) rhythm(2);
    width: $width;

    @include breakpoint-range(sm, "<=") {
        float: none;
        @include center-align-horz;
        margin: rhythm(1) 0;
    }
}

%p-additional-props {
    background: yellow;
    &__link {
        color: inherit;
        text-decoration: none;
    }
}

@include block($component-name, component) {
    @include c-content-box();
    @extend %p-additional-props;

    @each $key, $name in $THEME_RENDER_KEYS {

        @include modifier($key) {
            @include c-content-box($key);

            @include dry($component-name) {
                @extend %p-additional-props;
            }

        }
    }
}