$component-name: '.g_Heading';

@mixin c-heading($color-scheme: $chroma-active-scheme ) {

	@include color-scheme($color-scheme, false, false, false);
	transition: all 0.2s;
	cursor: hand;
	width: auto;

	@content;

	&:hover {
		background: lighten(color($color-scheme, background), 10%);
	}
	&__link {
		color: inherit;
		text-decoration: none;
	}
}

///styles to generate.

///MAIN BLOCK CSS
#{ block($component-name) } {
	@include c-heading() {
		@include setType(0, font-serif);
	}
}

/*** THEME MODIFIERS	*/
@each $key, $name in $render-component-themes {
	#{ modifier($component-name,$key) } {
		@include c-heading($key);
	}
}

/*BLOCK*/
@include u-block($component-name) {
	@include c-heading() {
		@include setType(0, font-serif);
	}
}

//TODO: standardize this
//modifier: 2-font-small-caps
@include u-type-modifier($component-name, 2, font-small-caps);

//modifier: 2-font-serif
@include u-type-modifier($component-name, 2, font-serif);

//modifier:trailing-border;
#{ modifier($component-name,trailing-border)} {
	@include trailing-border();
}

#{ modifier($component-name, left-border)} {
	@include apply-side-rhythm-border(left);
}