$component-name: '.g_Heading';

@mixin c-heading($color-scheme: $chroma-active-scheme ) {

	@include color-scheme($color-scheme, false, false, false);
	transition: all 0.2s;
	cursor: hand;
	width: auto;

	@content;

	&:hover {
		background: lighten(color($color-scheme, background), 10%);
	}
	&__link {
		color: inherit;
		text-decoration: none;
	}
}

///styles to generate.

/*BLOCK*/
@include u-block($component-name) {
	@include c-heading() {
		@include setType(0, font-serif);
	}
}

/*theme modifiers*/
@include u-modifier($component-name, dark) {
	@include c-heading(dark);
}

@include u-modifier($component-name, light) {
	@include c-heading(light);
}

//TODO: standardize this
//modifier: 2-font-small-caps
@include u-type-modifier($component-name, 2, font-small-caps);

//modifier: 2-font-serif
@include u-type-modifier($component-name, 2, font-serif);

//modifier:trailing-border;
@include u-modifier($component-name, trailing-border) {
	@include trailing-border();
}

//modifier: horizontal-borders
@include u-modifier($component-name, left-border) {
	@include horizontal-borders();
}

//modifier: left-border
@include u-modifier($component-name, left-border) {
	@include apply-side-rhythm-border(left);
}