
@mixin c-kabob( $color-scheme: $chroma-active-scheme,$reflect: false, $width: 100%, $unit: get-scale-units() ) {

    $self: &;
    width: $width;

    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;

    $props: (
        background: true,
        foreground: true,
        border: true,
        fill:accent
    );
    @include g-color-scheme($color-scheme,$props...);

    &.--monochrome{
        $props: (
            background: true,
            foreground: true,
            border: true,
            fill:foreground
        );
        @include g-color-scheme($color-scheme,$props...);
    }

    @if ($reflect) {
        &__right {
            @include u-reflect-X();
        }
    }
    .--reflect &__right {
        @include u-reflect-X();
    }

    &__left, &__right {
     //   @include u-icon-svg(color($color-scheme, accent), ms(0));
    //    @include o-icon-svg(color($color-scheme, accent));
    }
    .--monochrome &__left, .--monochrome &__right {
      //  @include u-icon-svg(color($color-scheme, foreground), ms(0));
    //    @include o-icon-svg(color($color-scheme, foreground));

    }

    @each $key, $unit in $scale-units {
       // @debug 'kabob scale-sizes-#{$key}';

        &.--#{$key} &__right,&.--#{$key} &__left{
           @include o-icon-svg(color($color-scheme, accent), $key);
        }
        &.--monochrome.--#{$key} &__right,&.--monochrome.--#{$key} &__left{
           @include o-icon-svg(color($color-scheme, foreground), $key);
        }
    }

    @content;
}

