/* SIMPLE COMPONENT -component with no flags!!!
 $props: (
        background: true, foreground: true,
        border: true,
        fill:foreground,
        hover-background:rgba(color($color-scheme, background), .7),
        hover-foreground:rgba(color($color-scheme, foreground), .7)
    );*/

@mixin g-simple-component($scheme:$chroma-active-scheme,$font:font-san-serif,$base-font-unit:1,$props:( background: true, foreground: true, accent:true,border:true),$do-rhythm-spacing: true,$name: simple-component) {

    @include g-color-scheme($scheme, $props...);

    //TODO: Finish this.
    //  @include g-simple-color-scheme($scheme);
    @if mixin-exists(dry) {
        @include dry($name, $DRY_ENABLED) {

            @if ( $font ){
                @include setType($base-font-unit, $font, 0);
            }

            //todo : some sort of variable for this
            @if ($do-rhythm-spacing) {
                @include rhythm-padding(.75, .75);
            }
            @content;
        }
    }
}