///MAP JSON CONFIG TO THE SETTINGS/VARIABLES.

//structure vars.
//@include setting-set-multiple($slicer);

//type vars
@include setting-set-multiple($typography);
$THEME_RENDER_KEYS: $render_component_themes;

@import "colors";
@import "structure";
@import "typography";

//TODO:move
$debug: false;
$generate-grid-placeholders: true!default;
$generate-swatch-placeholders: true!default;
$generate-type-placeholders: true!default;
$generate-scheme-placeholders:true!default;

$include-helper-classes:true!default;
$include-base-classes:true!default;
$include-styleguide-classes:true!default;


$bem-block-namespaces: (
    'object': 'obj',     // defaults to 'o'
    'component': 'g_', // defaults to 'c'
    'utility': 'helper', // defaults to 'u'
);


@if($debug ) {
    $generate-grid-placeholders: false ;
    $generate-swatch-placeholders: false ;
    $generate-type-placeholders: false ;
    $generate-scheme-placeholders: false ;
    $include-helper-classes: false;
    $include-base-classes: false;
    $include-styleguide-classes: false;
}
//actually generate them

@if ($generate-swatch-placeholders) {
    @include generate-swatches();
}

@if ($generate-type-placeholders) {
    @each $key, $prop in $font-map {
        @if ($key != 'default') {
            @include generate-type-utility-classes($key);
        }
    }
}
@if ($generate-scheme-placeholders){
    @include generate-all-scheme-utility-classes;
}
@if ($generate-grid-placeholders){
    @include  generate-grid-classes();
}

