///MAP JSON CONFIG TO THE SETTINGS/VARIABLES.

//structure vars.
//@include setting-set-multiple($slicer);

//type vars
@include setting-set-multiple($typography);

@import "colors";
@import "structure";
@import "typography";

//TODO:move
$generate-grid-placeholders: true;
$generate-swatch-placeholders: true;
$generate-type-placeholders: true;
$generate-scheme-placeholders:true;

//actually generate them

@if ($generate-swatch-placeholders) {
    @include generate-swatches();
}

@if ($generate-type-placeholders) {
    @each $key, $prop in $font-map {
        @if ($key != 'default') {
            @include generate-type-utility-classes($key);
        }
    }
}
@if ($generate-scheme-placeholders){
    @include generate-all-scheme-utility-classes;
}
@if ($generate-grid-placeholders){
    @include  generate-grid-classes();
}
