@charset "UTF-8";
@import url($typekit);

//init type maps
$font-map: map-get($typography, "fonts");
$default-font-map: map-get($font-map, default);
@each $key, $prop in $font-map {
    $font-map-merged: map_merge($default-font-map, $prop);
    @include setting-set($key, $font-map-merged);
}

//**** modular scale
$modularscale: map-get($typography, "modularscale");

//*** COMPASS PROPS
//$base-font-size: 20px; // Sets the base font size
//$base-line-height: 16px; // Sets the base line height

$BASE_LINE_HEIGHT: map-get($typography, line-height);
$BASE_FONT_SIZE: map-get($modularscale, base);

//convert unitless lineheight
@if (has-unit($BASE_LINE_HEIGHT)) {
} @else {
    $BASE_LINE_HEIGHT: $BASE_LINE_HEIGHT * $BASE_FONT_SIZE;
}

//***** SET compass vars
$base-font-size: $BASE_FONT_SIZE;
$base-line-height: $BASE_LINE_HEIGHT;
$relative-font-sizing: false;