//*****utilities for colors module.

@function u-inverted-colormap( $base-scheme: $chroma-active-scheme ){

    $new-colors: (
        foreground: color($base-scheme, background),
        background: color($base-scheme, foreground),
        accent:  color($base-scheme, accent),
        border: color($base-scheme, foreground),
    );
    @return $new-colors;
}