////GENERATOR VARIABLES
$generate-swatch-classes: false!default;
$generate-type-classes: false!default;
$generate-scheme-classes:true!default;
$generate-components:true!default;


//TODO:move
$THEME_RENDER_KEYS: $render_component_themes;
$DRY_ENABLED:true!default;


$debug: false;
//$generate-grid-placeholders: true!default;

$include-helper-classes:true!default;
$include-base-classes:true!default;
$include-styleguide-classes:true!default;
$include-font-icons:true!default;


@if($debug ) {
    @debug "setting false";
    $generate-swatch-classes: false ;
    $generate-type-classes: false ;
    $generate-scheme-classes: false ;
    $generate-components:false;

    $include-helper-classes: false;
    $include-base-classes: false;
    $include-styleguide-classes: false;
    $include-font-icons:false;
}
@debug "hi" #{$generate-scheme-classes};

