$bem-block-namespaces: (
'object': 'obj',     // defaults to 'o'
'component': 'comp', // defaults to 'c'
'utility': 'helper', // defaults to 'u'
)!default;

////GENERATOR VARIABLES
$generate-swatch-classes: false!default;
$generate-type-classes: true!default;
$generate-scheme-classes:true!default;
$generate-utility-padding: true!default;
$generate-utility-static:true!default;
$generate-components:FALSE!default;

//TODO:move
$THEME_RENDER_KEYS: $render_component_themes;
$DRY_ENABLED:false!default;


$debug: false;
//$generate-grid-placeholders: true!default;

$include-helper-classes:true!default;
$include-base-classes:true!default;
$include-styleguide-classes:true!default;
$include-font-icons:true!default;


@if($debug ) {
    $generate-swatch-classes: false ;
    $generate-type-classes: false ;
    $generate-scheme-classes: false ;
    $generate-components:false;

    $include-helper-classes: false;
    $include-base-classes: false;
    $include-styleguide-classes: false;
    $include-font-icons:false;
}



