// *********** MODULE: COLOR ************//
$active-scheme: functional !default;
$default-color-scheme-variant: functional !default;

$baseColors: (
	white: #fff,
	black: #000,
	tester: #cc6329,
	blue: #0e71b8,
	test-color: tester,
	light-blue: lighten(#0e71b8, 20%),
	red: #c00,
	// Define a primary highlight color that has the value of our "blue" color.
	// Note: if blue was specified without quotes, Chroma would interpret that as
	// the color keyword blue and not a reference to the "blue" color name.
	primary: 'blue',
) !default;

$schemes: (
	functional: (
		key: functional,
		description: 'Colors used by functional parts of the design.',
		parent: false,
		colors:(
			foreground: blue,
			background: white,
			accent: test-color,
			border: blue,
			link: test-color
		)
	),
	invert-functional: (
		key: invert-functional,
		description: 'Inverted Colors used by functional parts of the design.',
		parent: 'functional',
		transform:(
			foreground: background,
			background: foreground
		),
		colors:(
			background: test-color,
			new-linl: test-color
		)
	)
) !default;