$typekit:'https://use.typekit.net/kxg6qeb.css'!default;
$default-type-scale-key: type !default;
$default-type-scale-value-key: md;

$default-typography-key: typography!default;
$default-typography-variant: font-serif!default;
