$typekit:'https://use.typekit.net/kxg6qeb.css'!default;
$typography: (
    required-props: 'font-family, letter-spacing, word-spacing, text-transform, text-decoration, font-style, font-weight',
    line-height: 1.4,
    type-scale-map: (
        type:(
            transform: ms,
            options: (
                base:36px,
                ratio:1.4
            ), ///option is the thread is for modular scale
            units: (
                xxs: -2,
                xs: -1,
                sm: 2,
                md: 1,
                lg: 2,
                xl: 3,
                xxl: 4,
                xxxl: 5
            )
        )
    ),

fonts:(
        default: (
            size-scale: type,
            font-family: monospace,
            text-transform: none,
            text-decoration: none,
            letter-spacing: 0,
            word-spacing: -1px,
            font-weight: normal,
            font-style: normal
        ),
        font-san-serif: (
            font-family: "cronos-pro-display",
            letter-spacing:0px,
            title: 'Primary: Mr Eaves Sans'
        ),
        font-serif: (
            font-family: "adobe-garamond-pro",
            title: 'Secondary, Headers : Mrs Eaves'
        ),
        font-serif-italic: (
            font-family: "adobe-garamond-pro",
            title: 'italic serif',
            font-style: italic
        ),
        font-serif-bold: (
            font-family: "adobe-garamond-pro",
            title: "'bold serif'",
            font-weight: 700
        ),
        font-small-caps: (
            font-family: "adobe-garamond-pro",
            text-transform: "uppercase",
            title: 'Accent, Small Caps : Mrs Eaves Roman Small Caps'
        )
    )
)!default;

$required-font-props: (font-family, letter-spacing, word-spacing, text-transform, text-decoration, font-style, font-weight)!default;


$default-type-scale-key: type !default;
$default-type-scale-value-key: md;
