@mixin rhythm-padding($horizontal-proportion: 1,$vertical-proportion: 1, $unit: $base-spacing-unit) {
    padding: rhythm-spacing($horizontal-proportion, $unit) rhythm-spacing($vertical-proportion, $unit);
}

@mixin rhythm-margin($horizontal-proportion: 1,$vertical-proportion: 1, $unit: $base-spacing-unit) {
    margin: rhythm-spacing($horizontal-proportion, $unit) rhythm-spacing($vertical-proportion, $unit);
}

@mixin rhythm-spacing($prop: padding,$scale-definition-key:$default-rhythm-scale-key, $left:$default-rhythm-scale-value-key,$top:$default-rhythm-scale-value-key,$right:$left,$bottom:$top,$_scale-map:$scale-map ) {

    @if $scale-definition-key==false {
        ////just do it in 'direct' mode
    }
    //validate
    @debug get-scale-value($scale-definition-key, $right);
    //@error ;
    // @error ;
    @if (validate-scale-definition-key($scale-definition-key)) {

        @if (is-valid-lookup-key($scale-definition-key, $left)) {
            @debug "LEFT KEY #{$left} in scale  #{$scale-definition-key} NOT FOUND #{get-scale-value($scale-definition-key,$left)} ";
            $left: get-scale-value($scale-definition-key, $left);
        }
        @if (is-valid-lookup-key($scale-definition-key, $right)) {
            @debug "RIGHT KEY #{$right} in scale  #{$scale-definition-key} NOT FOUND ";
            //$right : auto;
            $right: get-scale-value($scale-definition-key, $right);

        }
        @if (is-valid-lookup-key($scale-definition-key, $top)) {
            @debug "TOP KEY #{$top} in scale  #{$scale-definition-key} NOT FOUND ";
            //$top : auto;
            $top: get-scale-value($scale-definition-key, $top);

        }
        @if (is-valid-lookup-key($scale-definition-key, $bottom)) {
            @debug "BOTTOM KEY #{$bottom} in scale  #{$scale-definition-key} NOT FOUND ";
            //$bottom : auto;
            $bottom: get-scale-value($scale-definition-key, $bottom);
        }

        #{$prop}: #{$top} #{$right} #{$bottom} #{$left};
        @debug "#{$prop} IS : #{$top} #{$right} #{$bottom} #{$left}";
    } @else {
        @error "";
    }

}

