///merge additional scales (rather than replace)
$default-spacing-key: rhythm-units !default;
$default-spacing-variant: base!default;

$default-padding-key: base-padding!default;
$default-padding-variant: md!default;

$default-margin-key: base-margin!default;
$default-margin-variant: md!default;
