//TODO: use sassdash insteadddd
@mixin output-css-declarations($render:call(get-function(default-render)),$variants:map-get($default-render-obj,variants),$variant-key:map-get($default-render-obj,variant-key) , $selector: false,$key:map-get($default-render-obj,key),$description:false ) {

    $suffix: map-get($render, suffix);
    $transformed-data-map: transform-data($variants...);
    $render-data-map: get-rendered-data($transformed-data-map, $render...);

    @if $default-render-obj {
        @debug "RENDERING OBJECT WITH DESCRIPTION #{$description}"
    }

;
    ///if you only want one key??
    @if $variant-key and _has($render-data-map, $variant-key) {
        $render-data-map: map-merge((), ($variant-key: (_get($render-data-map, $variant-key))));
        @warn "THIS IS A SINGLE ITEM!!#{$variant-key} after #{$render-data-map}";
    }


    @if _is-iterable($render-data-map) {

        @each $key, $value in $render-data-map {

            $new-selector: format-selector($selector, $suffix, $key);

            @if ($new-selector) {
                // @debug "WRITING #{$new-selector}";
                #{$new-selector} {
                    @include _declare($value);
                }
            } @else {
                @debug "CSS WRITING #{$new-selector}";

                @include _declare($render-data-map);
            }
        }
    }

}

///should extend the default?
@mixin render-queue($collection: false,$unit-key:false,$selector:false) {
    $queue: get-queue($collection);
    @if ($queue) {
        @each $render-map in $queue {
            @if is-render-map($render-map) {
                @include output-css-declarations($render-map...);
            } @else {
                @error "RENDER OBJECT ERROR!!!! #{$render-map}";
            }
        }
    }
}

///should extend the default?
@mixin render-css-props($collection: false,$unit-key:false,$selector:false) {
    $queue: get-queue($collection);
    @if ($queue) {
        @each $render-map in $queue {

            // @if is-render-map($render-map) {
            @include output-css-declarations($render-map...);
            // } @else {
            // @error "RENDER OBJECT ERROR!!!! #{$render-map}";
            //}
        }
    }
}


