///initialize the engine
$style-dictionary: (
)!default;
$default-module-key: size!default;
$class-seperator: '--'!default;
//module defaults
$core-module-defaults: (
    color:(
        render:(
            module:color, //dont know??
            filter: color,
            props: (),
        ),
        variants:(
            transform: no-transformation,
            options: (
            ), ///option is the thread is for modular scale
            units: (
                default: (
                ),
                accent: (
                ),
            )
        ),
        key: unused
    ),
    size:(
        render:(
            module:size, //dont know??
            filter: assign,
            props: (),
        ),
        variants:(
            transform: no-transformation,
            options: (
            ), ///option is the thread is for modular scale
            units: (
            )
        ),
        key: unused
    )
)!default;